<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="logo"> <img src="Assets/pngtree-nft-logo-clipart-virtual-blockchain-art-coin-png-image_6122432.png" alt=""></div>
            <div class="navbarRight">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Mint NFT</li>
                    <li>My NFTs</li>
                    <li>Login</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mintNftBody">
        <div class="card">
            <button>Mint NFT Here</button>
        </div>
    </div>
</body>
</html>